<% if comment.persisted? && !comment.archived? %>
  <p class="govuk-body comment_commenter">
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p class="govuk-body comment_body">
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <% if authenticated?  %>
    <p class="govuk-body">
      <%= button_to "Destroy", article_comment_path(comment.article, comment), method: :delete, class: "govuk-button govuk-button--warning" %>
    </p>
  <% end %>
<% end %>