<% content_for(:html_title) {"Articles"} %>

<h1 class="govuk-heading-l">Articles</h1>

<ul class="govuk-list govuk-list--bullet">
  <% @articles.each do |article| %>
  <li>
    <%= article.title %>
  </li>
  <% end %>
</ul>
