<% content_for(:html_title) {"Articles"} %>

<h1 class="govuk-heading-l">Articles</h1>

<p class="govuk-body">Our blog has <%= @articles.public_count %> articles and counting!</p>

<ul class="govuk-list govuk-list--bullet">
  <% @articles.reject(&:archived?).each do |article| %>
  <li>
    <%= link_to article.title, article, class: "govuk-link" %>
  </li>
  <% end %>
</ul>

<p class="govuk-body"><%= link_to "New Article", new_article_path, class: "govuk-link" %></p>
